# Rust build artifacts
/target

# Cargo
Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build output
*.zip

# Download resume/metadata files
*.rdown.json

# Downloaded files
*.msi
*.msixbundle

# Test download outputs
get
headers
test*.bin
/tests

/GUI/.vs
/GUI/bin
/GUI/obj
/GUI/packages
/GUI/*.exe